
<h1 id="home">Learning Connect connects people who want to learn with people who want to teach</h1>
<h1>Anyone can sign up, so what are you waiting for?</h1>

<div>
  <% if user_signed_in? %>
    <div>
      You are signed in as : <%=current_user.email%>
    </div>

    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <li>
      <%= link_to('Profile', user_path(current_user)) %>
      <!-- user_registration_path -->
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</div>

