<h1>Connection</h1>
<% @connection.messages.each do |message| %>
  <li><% if message.user%>
    <%= message.user.name %>:
    <%end %><%= simple_format(message.content) %></li>
<% end %>

<%= render partial: "newmessageform"%>
<%= render "courses/newcourseform"%>