<h1>New Connection !</h1>

<p>  <%= @greeting %> </p>
<p>Somebody connected with you !</p>

<p>Find out the connection with <%= link_to @connection.initializer.name, connection_url(@connection) %></p>
