<ul class="skills-list">
<% if skills %>
  <% skills.each do |skill| %>
    <p data-id=<%= skill.id %>>
      <%= skill.description%>
      <% if current_user == @user %>
        <%= link_to "remove", delete_skill_path(user_id: skill.user_id,id: skill.id), class: 'remove-link btn btn-xs btn-danger pull-right'%>
      <% end %>
    </p>
  <% end %>
<% end %>
</ul>

<% if can_edit_profile?(@user) %>

  <%= render partial: 'skills_form',locals:{skill_type: skill_type} %>

<% end %>
