 <p data-id=<%= @skill.id %>><%= @skill.description %>
    <%= link_to "remove", delete_skill_path(user_id: @skill.user_id,id: @skill.id), class: 'remove-link btn btn-xs btn-danger pull-right'%></a>
  </p>

