<% if @skills.present? %>
<ul>
	<% @skills.each do |skill| %>
		<li><%= link_to "#{skill.user.name}", user_path(skill.user.id) %> wants to <%= skill.skill_type %> <%= skill.description %> </li>
	<% end %>
</ul>
<% else %>
	<p>There are no people with skills containing the term(s) <%= params[:search] %>.</p>
<% end %>